body {
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  color: #222222;
  background-color: #cbf4f7;
}

input[type="number"] {
  width: 40px;
}

h1, h2, h3 {
  font-weight: 900;
  padding: 0 5px;
  margin: 0;
  text-transform: uppercase;
  color: #fffff2;
}

h1 {
  font-size: 31px;
  margin: 40px;
}

h2 {
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid black;
}

h3 {
  font-size: 20px;
  margin: 5px 0 0 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}


/* overwriting jquery ui default settings */

.ui-widget-content {
  border: 1px solid #7CA6BA;
  background: none;
  background-color: #4B4646;
}

/* jquery dialogs */
.ui-dialog-titlebar {
  border: 0;
  background: none;
}

.ui-dialog-title {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fffff2;
}

.ui-dialog-content {
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #fffff2;
}

/* jquery ui buttons */
.ui-button.ui-state-default {
  background: none;
  background-color: #5c5c5c;
  border-color: #7ca6ba;
}

.ui-button.ui-state-hover {
  background-color: #777777;
  border-color: #a3cfc6;
}

.ui-button.ui-state-highlight {
  outline: #E59700 auto 5px;
}

.ui-button .ui-button-text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #FFFFF2;
  font-size: 13px;
  line-height: 1.2;
}

/* jquery ui accordion */
.ui-accordion .ui-accordion-header {
  border: 1px solid #7ca6ba;
  margin-top: 5px;
  background-color: #5c5c5c;
  background-image: none;
  padding-left: 20px;
}

.ui-accordion .ui-accordion-header a {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #FFFFF2;
  padding-left: 0;
  font-size: 14px;
}

.ui-accordion .ui-accordion-header.ui-state-active {
  border-color: #a3cfc6;
  background-color: #fffff2;
}

.ui-accordion .ui-accordion-header.ui-state-active a{
  color: #222;
}

.ui-accordion .ui-accordion-header.ui-state-hover:not(.ui-state-active) {
  border-color: #a3cfc6;
  background-color: #777777;
}

.ui-accordion .ui-accordion-header:first-child {
  margin-top: 0px;
}

.ui-accordion .ui-accordion-content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #a3cfc6;
  border-top: 0px;
  margin-top: -3px;
  background-color: #fffff2;
  background-image: none;

  padding: 10px 20px;
}

/* achievements */
.achievement {
  background-image: url('../img/achievement.png');
  width: 32px;
  height: 32px;
}

/* medals */
.medal {
  background-image: url('../img/medals.png');
  width: 32px;
  height: 32px;
}

.medal-gold {
  background-position: -32px 0;  
}

.medal-silver {
  background-position: -64px 0;  
}

.medal-bronze {
  background-position: -96px 0;  
}

/* icons */
.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}

.ui-icon-close {
  cursor: pointer;
}

/* screen container and screens */
#lightbot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 980px;
  height: 720px;
  margin-left: -490px;
  margin-top: -370px;
}

#credits {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  text-align: center;
}

.ui-screen {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 700px;
  border: 1px solid #000;
  background-color: #4b4646;
}

#welcomeScreen {
  background: #4b4646 url('../img/welcome_screen_bg.png') no-repeat left top;
}

#gameScreen {
  background: #000;
}


/* achievements screen */

#achievementsScreen .mainMenuButton {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

#achievementsList {
  height: 513px;
  overflow: auto;
  padding: 0px;
  margin: 0px 40px;
  color: #fffff2;
}

#achievementsList li {
  border: 1px solid #7ca6ba;
  background-color: #5c5c5c;
  height: 50px;
  margin-bottom: 5px;
}

#achievementsList li:hover {
  border-color: #a3cfc6;
  background-color: #777777;
}

#achievementsList li img {
  float: left;
  margin:5px 15px 5px 5px;
}


/* level select screen */

#levelSelectScreen .mainMenuButton {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

#levelSelectScreen ul {
  width: 700px;
  list-style-type: none;
  margin: 50px auto;
  padding: 0;
}

#levelSelectScreen li {
  margin: 5px 5px;
  padding: 1px;
  float: left;
  width: 120px;
  height: 90px;
  font-size: 4em;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid #7ca6ba;
  background-color: #5c5c5c;
  color: #fffff2;
}

#levelSelectScreen li.ui-state-highlight {
  color: #222;
  background: none;
  border-color: #a3cfc6;
  background-color: #f8f4d2;
}

#levelSelectScreen li.ui-state-highlight.ui-state-hover {
  background: none;
  border-color: #a3cfc6;
  background-color: #fbfaf6;
}

#levelSelectScreen li.ui-state-hover:not(.ui-state-highlight) {
  background: none;
  border-color: #a3cfc6;
  background-color: #777777;
}


/* game screen */

#canvasContainer {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 690px;
  height: 666px;
  background-color: white;
}

#buttonContainer {
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: 690px;
  height: 30px;
  background-color: #4B4646;
}

#instructionsContainer {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 286px;
  height: 220px;
  background-color: #4B4646;
}

#instructionsContainer > div.ui-widget-content {
  overflow: auto;
  border: 0px;
}

#instructionsContainer li {
  cursor: move;
}

#instructionsContainer .ui-icon-close, li.ui-draggable-dragging .ui-icon-close {
  display: none;
}

#instructionsContainer li div, li.ui-draggable-dragging div, #instructionsContainer li span:first-child + span {
  display: none;
}

input[type="number"] {
  margin: 0px;
  padding: 0px;
}

#programContainer {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 286px;
  height: 476px;
  background-color: #4B4646;
}

#programContainer > div { /* allows the droppable program container to show a scrollbar when the program fills up */
  height: 442px;
  overflow: auto;
}

#programContainer > div > ul { /* the droppable area should fill the entire programcontainer */
  min-height: 417px;
}

#programContainer li {
  cursor: move;
}

#programContainer li.ui-state-highlight { /* sortable helper */
  height: 18px;
}

#programContainer > div.ui-widget-content {
  height: 438px;
  border: 0px;
  overflow: auto;
}

ul {
  margin: 0em;
  list-style: none;
  padding: 5px;
}

ul.ui-droppable {
  padding-bottom: 20px;
}

#instructionsContainer li, #programContainer li, li.ui-draggable-dragging {
  list-style: none;
  border: 1px solid black;
  margin: 0 0 2px 0;
  padding: 5px 5px;
  font-size: 11px;
  background: none;
  background-color: #5c5c5c;
  border-color: #7ca6ba;
}

#instructionsContainer li p, #programContainer li p, li.ui-draggable-dragging p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.1em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #FFFFF2;
  font-size: 13px;
  line-height: 1.2;
}

#instructionsContainer li.ui-state-hover, #programContainer li.ui-state-hover {
  background-color: #777777;
  border-color: #a3cfc6;
}

li.ui-draggable-dragging {
  width: 150px;
}

.ui-state-droppable { /* highlight droppable areas with a color */
  background-color: #fffed0;
}

.ui-state-droppable-hover { /* highlight the droppable area the mouse is currently hovering with another color */
  background-color: #fbeea4;
}


/* help screen */
#helpScreenAccordionContainer {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 400px;
}

#helpScreenVerticalBar {
  position: absolute;
  top: 0px;
  left: 466px;
  width: 42px;
  height: 700px;
  background: url('../img/helpscreen_vertical_bar.png');
}

#helpScreen .mainMenuButton {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

#videoContainer {
  position: absolute;
  top: 175px;
  right: 40px;
  width: 400px;
}
