body {
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: #222222;
  /*background: url('../img/bg_pattern.png') 0 0 repeat;*/
  background-color: #cbf4f7;
}

input[type="number"] {
  width: 40px;
}

h1, h2, h3 {
  padding: 0 5px;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-weight: 900px;
  font-size: 31px;
  color: #fffff2;
  margin: 40px;
}

h3 {
  font-weight: 900px;
  font-size: 22px;
  color: #fffff2;
  margin: 5px 0 0 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* achievements */
.achievement {
  background-image: url('../img/achievement.png');
  width: 32px;
  height: 32px;
}

/* medals */
.medal {
  background-image: url('../img/medals.png');
  width: 32px;
  height: 32px;
}

.medal-gold {
  background-position: -32px 0;  
}

.medal-silver {
  background-position: -64px 0;  
}

.medal-bronze {
  background-position: -96px 0;  
}

/* icons */
.icon {
  background-image: url('../img/icons.png');
  width: 16px;
  height: 16px;
}

.icon-walk {
  background-position: 0 0;
}

.icon-turn-left {
  background-position: -16px 0;
}

.icon-turn-right {
  background-position: -32px 0;
}

.icon-jump {
  background-position: -48px 0;
}

.icon-light {
  background-position: -64px 0;
}

.icon-delete {
  cursor: pointer;
  background-position: -80px 0;
}

.icon-repeat {
  background-position: -96px 0;
}

#instructionsContainer .icon-delete, li.ui-draggable-dragging .icon-delete {
  display: none;
}

/* screen container and screens */
#lightbot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 980px;
  height: 720px;
  margin-left: -490px;
  margin-top: -370px;
}

#credits {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  text-align: center;
}

.ui-screen {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 700px;
}

#welcomeScreen {
  border: 1px solid #000;
  background: #4b4646 url('../img/welcome_screen_bg.png') no-repeat left top;
}

#achievementsScreen {
  border: 1px solid #000;
  background-color: #4b4646;
}

#levelSelectScreen {
  background-color: #eee;
}

#gameScreen {
  background-color: black;  
}

#helpScreen {
  border: 1px solid #000;
  background-color: #4b4646;
}


/* achievements screen */

#achievementsScreen .mainMenuButton {
  position: absolute;
  left: 40px;
  bottom: 40px;
  background: none;
  background-color: #5c5c5c;
  border-color: #7ca6ba;
}

#achievementsScreen .mainMenuButton.ui-state-hover {
  background-color: #777777;
  border-color: #a3cfc6;
}

#achievementsScreen .mainMenuButton span {
  color: #f1ffd8;
}

#achievementsList {
  height: 513px;
  overflow: auto;
  padding: 0px;
  margin: 0px 40px;
  color: #f1ffd8;
}

#achievementsList li {
  border: 1px solid #7ca6ba;
  background-color: #5c5c5c;
  height: 50px;
  margin-bottom: 5px;
}

#achievementsList li:hover {
  border-color: #a3cfc6;
  background-color: #777777;
}

#achievementsList li img {
  float: left;
  margin:5px 15px 5px 5px;
}

/* level select screen */
#levelSelectScreen ul {
  width: 700px;
  list-style-type: none;
  margin: 50px auto;
  padding: 0;
}

#levelSelectScreen li {
  margin: 5px 5px;
  padding: 1px;
  float: left;
  width: 120px;
  height: 90px;
  font-size: 4em;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#levelSelectScreen li.ui-state-highlight {
  color: #FCEFA1;
}


/* game screen */
#canvasContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 690px;
  height: 655px;
  background-color: white;
}

#buttonContainer {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 690px;
  height: 30px;
  background-color: white;
}

#instructionsContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 275px;
  height: 220px;
  background-color: white;
}

#instructionsContainer .ui-widget-content {
  height: 194px;
  overflow: auto;
}

#instructionsContainer li {
  cursor: move;
}

#instructionsContainer li div, li.ui-draggable-dragging div, #instructionsContainer li span:first-child + span {
  display: none;
}

#instructionsContainer li input[type="number"], li.ui-draggable-dragging input[type="number"], #programContainer li input[type="number"]{
  margin: 0px;
  padding: 0px;
}

#programContainer {
  position: absolute;
  top: 230px;
  right: 5px;
  width: 275px;
  height: 465px;
  background-color: white;
}

#programContainer > div > ul {
  min-height: 414px;
}

#programContainer li {
  cursor: move;
}

#programContainer li.ui-state-highlight { /* sortable helper */
  height: 18px;
}

#programContainer > .ui-widget-content {
  height: 439px;
  overflow: auto;
}

ul {
  margin: 0em;
  list-style: none;
  padding: 5px;
}

ul.ui-droppable {
  padding-bottom: 20px;
}

#instructionsContainer li, #programContainer li, li.ui-draggable-dragging {
  list-style: none;
  border: 1px solid black;
  margin: 0.1em auto;
  padding: 5px 5px;
  font-size: 11px;
}

#instructionsContainer li p, #programContainer li p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.1em;
}

.ui-state-droppable { /* highlight droppable areas with a color */
  background-color: #fffed0;
}

.ui-state-droppable-hover { /* highlight the droppable area the mouse is currently hovering with another color */
  background-color: #fbeea4;
}


/* help screen */
#helpScreenAccordionContainer {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 400px;
}

#helpScreenVerticalBar {
  position: absolute;
  top: 0px;
  left: 466px;
  width: 42px;
  height: 700px;
  background: url('../img/helpscreen_vertical_bar.png');
}

#helpScreen .mainMenuButton {
  position: absolute;
  left: 40px;
  bottom: 40px;
  background: none;
  background-color: #5c5c5c;
  border-color: #7ca6ba;
}

#helpScreen .mainMenuButton.ui-state-hover {
  background-color: #777777;
  border-color: #a3cfc6;
}

#helpScreen .mainMenuButton span {
  color: #f1ffd8;
}

#videoContainer {
  position: absolute;
  top: 175px;
  right: 40px;
  width: 400px;
}

.ui-accordion .ui-accordion-header {
  border: 1px solid #7ca6ba;
  margin-top: 5px;
  background-color: #5c5c5c;
  background-image: none;
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header a{
  color: #f1ffd8;
  padding-left: 0;
}

.ui-accordion .ui-accordion-header.ui-state-active {
  border-color: #a3cfc6;
  background-color: #fffff2;
}

.ui-accordion .ui-accordion-header.ui-state-active a{
  color: #222;
}

.ui-accordion .ui-accordion-header.ui-state-hover:not(.ui-state-active) {
  border-color: #a3cfc6;
  background-color: #777777;
}

.ui-accordion .ui-accordion-header:first-child {
  margin-top: 0px;
}

.ui-accordion .ui-accordion-content {
  border: 1px solid #a3cfc6;
  border-top: 0px;
  margin-top: -3px;
  background-color: #fffff2;
  background-image: none;
}
